<%= form_with(model: workout) do |form| %>
  <% if workout.errors.any? %>
    <div class="alert alert-danger border-3 border-dark">
      <h4>Ошибка!</h4>
      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card p-4">
    <div class="mb-3">
      <%= form.label :title, "Название тренировки", class: "fw-bold mb-2" %>
      <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "Например: День ног" %>
    </div>

    <div class="mb-4">
      <%= form.label :date_performed, "Дата", class: "fw-bold mb-2" %>
      <%= form.date_field :date_performed, class: "form-control", value: Date.today %>
    </div>

    <%= form.submit "Сохранить и начать", class: "btn btn-primary w-100 py-3 fw-bold fs-5" %>
  </div>
<% end %>
