<div id="<%= dom_id food_entry %>">
  <div>
    <strong>Weight grams:</strong>
    <%= food_entry.weight_grams %>
  </div>

  <div>
    <strong>Date eaten:</strong>
    <%= food_entry.date_eaten %>
  </div>

  <div>
    <strong>User:</strong>
    <%= food_entry.user_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= food_entry.product_id %>
  </div>

  <div>
    <strong>Meal type:</strong>
    <%= food_entry.meal_type_id %>
  </div>

</div>
