<div id="<%= dom_id food_entry %>">
  <div>
    <strong>Вес порции:</strong>
    <%= food_entry.weight_grams %>
  </div>

  <div>
    <strong>Дата приёма пищи:</strong>
    <%= food_entry.date_eaten %>
  </div>

  <div>
    <strong>Пользователь:</strong>
    <%= food_entry.user_id %>
  </div>

  <div>
    <strong>Приём пищи:</strong>
    <%= food_entry.product_id %>
  </div>

  <div>
    <strong>Категория:</strong>
    <%= food_entry.meal_type_id %>
  </div>

</div>
