<p style="color: green"><%= notice %></p>

<h1>Дневник питания</h1>

<a href="<%= new_food_entry_path %>">Добавить запись</a>
<br><br>

<table border="1" cellpadding="10" cellspacing="0">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Пользователь</th>
      <th>Прием пищи</th>
      <th>Продукт</th>
      <th>Вес (г)</th>
      <th>Ккал</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @food_entries.each do |food_entry| %>
      <tr>
        <td><%= food_entry.date_eaten %></td>
        <td><%= food_entry.user.name %></td> <!-- ИМЯ, а не ID -->
        <td><%= food_entry.meal_type.name %></td> <!-- НАЗВАНИЕ, а не ID -->
        <td><%= food_entry.product.name %></td> <!-- НАЗВАНИЕ, а не ID -->
        <td><%= food_entry.weight_grams %></td>
        <!-- Расчет калорий на лету -->
        <td><%= (food_entry.product.calories * food_entry.weight_grams / 100.0).round(1) %></td>
        <td>
          <%= link_to "Показать", food_entry %> | 
          <%= link_to "Ред.", edit_food_entry_path(food_entry) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
