<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="display-5">Дневник питания</h1>
  <%= link_to "Добавить запись", new_food_entry_path, class: "btn-neo-primary" %>
</div>

<div class="neo-card p-0 overflow-hidden"> <!-- p-0 чтобы таблица прилипла к краям -->
  <table class="neo-table mb-0">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Прием пищи</th>
        <th>Продукт</th>
        <th>Грамм</th>
        <th>Ккал</th>
      </tr>
    </thead>
    <tbody>
      <% @food_entries.each do |food_entry| %>
        <tr>
          <td><%= food_entry.date_eaten.strftime("%d.%m") %></td>
          <td>
            <span class="badge bg-warning text-dark border border-dark rounded-pill">
              <%= food_entry.meal_type.name %>
            </span>
          </td>
          <td class="fw-bold"><%= food_entry.product.name %></td>
          <td><%= food_entry.weight_grams %> г</td>
          <td><%= (food_entry.product.calories * food_entry.weight_grams / 100.0).round(0) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
