<p style="color: green"><%= notice %></p>

<%= render @food_entry %>

<div>
  <%= link_to "Изменить запись о приёме пищи", edit_food_entry_path(@food_entry) %> |
  <%= link_to "Вернуться к записи приёма пищи", food_entries_path %>

  <%= button_to "Удалить данную запись приёма пищи", @food_entry, method: :delete %>
</div>
