<p style="color: green"><%= notice %></p>

<%= render @food_entry %>

<div>
  <%= link_to "Edit this food entry", edit_food_entry_path(@food_entry) %> |
  <%= link_to "Back to food entries", food_entries_path %>

  <%= button_to "Destroy this food entry", @food_entry, method: :delete %>
</div>
