<%= form_with(model: measurement) do |form| %>
  <% if measurement.errors.any? %>
    <div class="alert alert-danger border-3 border-dark">
      <h5 class="fw-bold">Ошибки:</h5>
      <ul>
        <% measurement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card p-4 shadow-sm">
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :date_taken, "Дата замера", class: "fw-bold mb-2" %>
        <%= form.date_field :date_taken, class: "form-control", value: Date.today %>
      </div>
      
      <div class="col-md-6 mb-3">
        <%= form.label :weight, "Вес (кг)", class: "fw-bold mb-2" %>
        <%= form.number_field :weight, step: 0.1, class: "form-control form-control-lg", placeholder: "0.0" %>
      </div>

      <div class="col-md-6 mb-3">
        <%= form.label :waist, "Талия (см)", class: "fw-bold mb-2" %>
        <%= form.number_field :waist, step: 0.1, class: "form-control", placeholder: "Не обязательно" %>
      </div>

      <div class="col-md-6 mb-3">
        <%= form.label :hip, "Бедра (см)", class: "fw-bold mb-2" %>
        <%= form.number_field :hip, step: 0.1, class: "form-control", placeholder: "Не обязательно" %>
      </div>
    </div>

    <div class="mt-3">
      <%= form.submit "Сохранить замер", class: "btn btn-primary w-100 py-3 fs-5" %>
    </div>
  </div>
<% end %>
