<div id="<%= dom_id measurement %>">
  <div>
    <strong>Вес:</strong>
    <%= measurement.weight %>
  </div>

  <div>
    <strong>Талия:</strong>
    <%= measurement.waist %>
  </div>

  <div>
    <strong>Бёдра:</strong>
    <%= measurement.hip %>
  </div>

  <div>
    <strong>Дата замера:</strong>
    <%= measurement.date_taken %>
  </div>

  <div>
    <strong>Пользователь:</strong>
    <%= measurement.user_id %>
  </div>

</div>
