<div id="<%= dom_id measurement %>">
  <div>
    <strong>Weight:</strong>
    <%= measurement.weight %>
  </div>

  <div>
    <strong>Waist:</strong>
    <%= measurement.waist %>
  </div>

  <div>
    <strong>Hip:</strong>
    <%= measurement.hip %>
  </div>

  <div>
    <strong>Date taken:</strong>
    <%= measurement.date_taken %>
  </div>

  <div>
    <strong>User:</strong>
    <%= measurement.user_id %>
  </div>

</div>
