<p style="color: green"><%= notice %></p>

<%= render @measurement %>

<div>
  <%= link_to "Изменить данные замеры", edit_measurement_path(@measurement) %> |
  <%= link_to "Назад к замерам", measurements_path %>

  <%= button_to "Удалить данные замеры", @measurement, method: :delete %>
</div>
