<div id="<%= dom_id product %>">
  <div>
    <strong>Name:</strong>
    <%= product.name %>
  </div>

  <div>
    <strong>Calories:</strong>
    <%= product.calories %>
  </div>

  <div>
    <strong>Proteins:</strong>
    <%= product.proteins %>
  </div>

  <div>
    <strong>Fats:</strong>
    <%= product.fats %>
  </div>

  <div>
    <strong>Carbs:</strong>
    <%= product.carbs %>
  </div>

  <div>
    <strong>Food category:</strong>
    <%= product.food_category_id %>
  </div>

</div>
