<p style="color: green"><%= notice %></p>

<%= render @food_category %>

<div>
  <%= link_to "Изменить категорию этого приёма", edit_food_category_path(@food_category) %> |
  <%= link_to "Вернуться к категориям продуктов питания", food_categories_path %>

  <%= button_to "Удалить эту категорию продуктов питания", @food_category, method: :delete %>
</div>
